USE [Студенты]
GO
/****** Object:  Table [dbo].[Авторизация]    Script Date: 12.05.2022 19:23:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Авторизация](
	[Код] [int] NOT NULL,
	[Логин] [nvarchar](max) NOT NULL,
	[Пароль] [nvarchar](max) NOT NULL,
	[Доступ] [nvarchar](max) NOT NULL,
	[Почта] [nvarchar](max) NOT NULL,
	[Фамилия] [nvarchar](max) NOT NULL,
	[Имя] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Авторизация] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Студенты]    Script Date: 12.05.2022 19:23:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Студенты](
	[НомерЗачётнойКнижки] [int] NOT NULL,
	[ФИО_Студента] [nvarchar](50) NOT NULL,
	[Общежитие] [bit] NOT NULL,
	[ИндексГруппы] [nchar](10) NOT NULL,
	[Высшая_Математика] [bit] NOT NULL,
	[Разработка_Базы_Данных] [bit] NOT NULL,
	[Компьютерные_Сети] [bit] NOT NULL,
	[Разработка_Программных_Модулей] [bit] NOT NULL,
	[Психология_Общения] [bit] NOT NULL,
 CONSTRAINT [PK_Студенты] PRIMARY KEY CLUSTERED 
(
	[НомерЗачётнойКнижки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Авторизация] ([Код], [Логин], [Пароль], [Доступ], [Почта], [Фамилия], [Имя]) VALUES (1, N'1', N'1', N'admin', N'1', N'1', N'1')
INSERT [dbo].[Авторизация] ([Код], [Логин], [Пароль], [Доступ], [Почта], [Фамилия], [Имя]) VALUES (2, N'2', N'2', N'2', N'2', N'2', N'2')
GO
INSERT [dbo].[Студенты] ([НомерЗачётнойКнижки], [ФИО_Студента], [Общежитие], [ИндексГруппы], [Высшая_Математика], [Разработка_Базы_Данных], [Компьютерные_Сети], [Разработка_Программных_Модулей], [Психология_Общения]) VALUES (5119, N'Мельцаева Дарья Дмитриевна', 0, N'ИСП-31    ', 1, 1, 0, 0, 1)
INSERT [dbo].[Студенты] ([НомерЗачётнойКнижки], [ФИО_Студента], [Общежитие], [ИндексГруппы], [Высшая_Математика], [Разработка_Базы_Данных], [Компьютерные_Сети], [Разработка_Программных_Модулей], [Психология_Общения]) VALUES (5319, N'Митрохина Ксения Михайловна', 1, N'ИСП-31    ', 1, 1, 1, 1, 1)
INSERT [dbo].[Студенты] ([НомерЗачётнойКнижки], [ФИО_Студента], [Общежитие], [ИндексГруппы], [Высшая_Математика], [Разработка_Базы_Данных], [Компьютерные_Сети], [Разработка_Программных_Модулей], [Психология_Общения]) VALUES (5419, N'Баева Ирина Александровна', 0, N'ИСП-31    ', 0, 1, 0, 1, 1)
GO
