<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
	<add name="СтудентыEntities" connectionString="metadata=res://*/Model_DB.csdl|res://*/Model_DB.ssdl|res://*/Model_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAB17-03\SQLEXPRESS;initial catalog=Студенты;user id=исп-31;password=1234567890;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	
</connectionStrings>
</configuration>